@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.screen {
  background-color: #c5f5ff;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #006377;
  width: 70%;
  height: 90vh;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.main-card {
  display: flex;
  height: 500px;
}

.form {
  padding: 30px;
  width: 50%;
  border-right: #a0efff;
  border-style: dashed;
}

.tasks {
  padding: 30px;
  width: 50%;
  overflow-y: auto;
}

.heading{
  color: #fff;
  text-align: center;
  margin: 10px 0;
  font-size: xx-large;
  font-weight: bolder;
  margin-bottom: 50px;
}

.sub-headings {
  color: #c5f5ff;
  text-align: center;
  font-size: x-large;
  font-weight: 600;
  margin-bottom: 30px;
}

.input {
  outline: none;
  width: 63%;
  padding: 10px;
  margin-right: 25px;
  font-size: 20px;
  color: #006377;
  background-color: #d1f7ff;
  border: 1px solid #c5f5ff;
  border-radius: 10px;
}

.add-task {
  width: 30%;
  padding: 10px 10px;
  font-size: 100%;
  border-radius: 10px;
  border: 0;
  color: #006377;
  font-weight: bold;
  background-color: #c5f5ff;
  cursor: pointer;
}

.list-item {
  display: flex;
  margin: 20px 0;
  width: 80%;
  border-bottom: 1px solid #c5f5ff;
  padding: 10px;
  min-height: 30px;
}

.complete-task, 
.delete-task, 
.edit-task {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 28px;
  border-radius: 50%;
  text-align: right;
  justify-items: right;
}

.complete-task {
  color: #5cff8a;
  margin-right: 10px;
}

.edit-task {
  color: #56ebff;
  margin-right: 10px;
}

.delete-task {
  color: rgb(255, 78, 78);
}

.complete {
  text-decoration-style: solid;
  text-decoration-line: line-through;
  text-decoration-color: #006377;
  opacity: 0.6;
}

.task {
  width: 220px;
  background-color: #d1f7ff;
  border-radius: 10px;
  border: none;
  color: #006377;
  font-size: 20px;
  padding-left: 10px;
  margin-right: 15px;
}