* {
  margin: 0;
  padding: 0;
}

.screen {
  background-color: #c5f5ff;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #006377;
  min-width: 50vh;
  min-height: 60vh;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.heading{
  color: #fff;
  text-align: center;
  margin: 10px 0;
  font-size: xx-large;
}